<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PemilihanUniversitasAHP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <PemilihanUniversitasAHP.My.MySettings>
            <setting name="jumlahKriteria" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="jumlahAlternatif" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="kriteria2" serializeAs="String">
                <value />
            </setting>
            <setting name="kriteria1" serializeAs="String">
                <value />
            </setting>
            <setting name="kriteria3" serializeAs="String">
                <value />
            </setting>
            <setting name="kriteria4" serializeAs="String">
                <value />
            </setting>
            <setting name="kriteria5" serializeAs="String">
                <value />
            </setting>
            <setting name="alternatif1" serializeAs="String">
                <value />
            </setting>
            <setting name="alternatif2" serializeAs="String">
                <value />
            </setting>
            <setting name="alternatif3" serializeAs="String">
                <value />
            </setting>
            <setting name="alternatif4" serializeAs="String">
                <value />
            </setting>
            <setting name="alternatif5" serializeAs="String">
                <value />
            </setting>
            <setting name="kriteria1kriteria2" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="kriteria1kriteria3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria1kriteria4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria1kriteria5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria2kriteria3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria2kriteria4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria2kriteria5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria3kriteria4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria3kriteria5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria4kriteria5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria1alternatif1alternatif2" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria1alternatif1alternatif3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria1alternatif1alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria1alternatif1alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria2alternatif1alternatif2" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria2alternatif1alternatif3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria2alternatif1alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria2alternatif1alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria3alternatif1alternatif2" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria3alternatif1alternatif3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria3alternatif1alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria3alternatif1alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria4alternatif1alternatif2" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria4alternatif1alternatif3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria4alternatif1alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria4alternatif1alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria5alternatif1alternatif2" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria5alternatif1alternatif3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria5alternatif1alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria5alternatif1alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria1alternatif2alternatif3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria1alternatif2alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria1alternatif2alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria1alternatif3alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria1alternatif3alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria1alternatif4alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria2alternatif2alternatif3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria2alternatif2alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria2alternatif2alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria2alternatif3alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria2alternatif3alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria2alternatif4alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria3alternatif2alternatif3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria3alternatif2alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria3alternatif2alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria3alternatif3alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria3alternatif3alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria3alternatif4alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria4alternatif3alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria4alternatif3alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria4alternatif2alternatif3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria4alternatif2alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria4alternatif2alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria4alternatif4alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria5alternatif2alternatif3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria5alternatif2alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria5alternatif2alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria5alternatif4alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria5alternatif3alternatif4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="kriteria5alternatif3alternatif5" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="TitleModelAHP" serializeAs="String">
                <value>Pemilihan Universitas Dengan Metode AHP</value>
            </setting>
        </PemilihanUniversitasAHP.My.MySettings>
    </userSettings>
</configuration>
